.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use-effect-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 5px rgba(173, 255, 47, 0.75);
  background-color: rgba(0, 0, 0, 0.6);
}

.use-effect-03 > * {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

h1 {
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 10px rgba(173, 255, 47, 1);
}

.use-effect {
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 1);
}

h2 {
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 10px rgba(173, 255, 47, 1);
}

.count {
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 1);
  font-weight: 900;
}

p {
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 10px rgba(255, 69, 0, 1);
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: inherit;
  color: inherit;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 6px 6px rgba(255, 68, 0, 0.75);
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 10px rgba(255, 69, 0, 1);
}

button:hover {
  background-color: rgba(255, 68, 0, 0.3);
}

pre {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 6px 6px rgba(255, 68, 0, 0.75);
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}